<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet"/>
		<link href="/static/css/base.css" rel="stylesheet"/>
		<link rel="shortcut icon" href="http://static.guim.co.uk/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		{% block navigation %}
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand" href="/dashboard">Interviews</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/candidates">Candidates</a></li>
					<li><a href="/interviewers">Interviewers</a></li>
					<li><a href="/interview">Interview feedback</a></li>
				</ul>
			</div>
		</nav>
		{% endblock %}

		{% block content %}
		{% endblock %}
	</body>
</html>