{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>CasBot 3000</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<ul>
				<li><a href="/candidate/new">Add a candidate</a></li>
				<li><a href="/interviewer">Add an interviewer</a></li>
			</ul>
		</div>

		<div class="col-md-6">
			<ul>
				<li><a href="/interview">Record interview</a></li>
				<li><a href="/candidates">View candidates</a></li>
			</ul>
		</div>

	</div>
</div>
{% endblock %}