{% extends 'base.html' %}

{% block title %}Add a candidate{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Add candidate details</h1>

			<p>Provide details for a new candidate</p>

			<form method="POST">
				<div class="form-group">
				<label for="name">Candidate's name</label>
				<input type="text" id="name" name="name" class="form-control" required>
				</div>

				<div class="form-group">
				<label for="role">Role applied for</label>
				<input type="text" id="role" name="role" class="form-control" required>
				</div>

				<div class="form-group">
				<label for="gender">Gender <sup><small>optional</small></sup></label>
				<input type="text" id="gender" name="gender" class="form-control">
				</div>

				<button>Add</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}